DEBUG=True
LOCAL=True
SECRET_KEY=

DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=


EMAIL_HOST=outlook.kmg.kz
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_SSL=False
EMAIL_USE_TLS=True


MINIO_SERVER=172.17.0.1:9000
MINIO_ACCESS_KEY=kmg_user
MINIO_SECRET_KEY=12345678
MINIO_BUCKET=templates

CORS_ALLOWED_ORIGINS=http://localhost:5174
CSRF_TRUSTED_ORIGINS=http://localhost:8080,http://localhost:8006

ALLOWED_HOSTS=*