# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Pycharm project files
.idea/

# VirtualEnv
.venv/
venv/

# migrations

static/
.env
.env.db
docker-compose.yml
nginx
Dockerfile
db.sqlite3
PF_LOG.log
