DEBUG=True
SECRET_KEY=django-insecure-8@@@5-#!8pf&m)=w)&4awbqtxc8^3$mt1+36yb%@i6b2e(f$+8
DOMAIN_NAME=http://127.0.0.1:8000

DATABASE_NAME=report
DATABASE_USER=kmg_user
DATABASE_PASSWORD=Gir546@ifg
DATABASE_HOST=pgdb
DATABASE_PORT=5432

EMAIL_HOST=False
EMAIL_PORT=10
EMAIL_HOST_USER=10
EMAIL_HOST_PASSWORD=False
EMAIL_USE_SSL=False

MINIO_SERVER=minio:9000
MINIO_ACCESS_KEY=kmg_user
MINIO_SECRET_KEY=12345678
MINIO_BUCKET=templates

CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:5133
CSRF_TRUSTED_ORIGINS=http://localhost:5173

ALLOWED_HOSTS=http://localhost