Django==5.1.2
djangorestframework==3.15.2
psycopg2-binary==2.9.10
django-cors-headers==4.5.0
minio==7.2.9
django-environ
gunicorn==23.0.0
pillow==11.0.0
django-filter==24.3
openpyxl==3.1.2
django-debug-toolbar=5.0.1